{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Dish edit</h1>

	<img src="{{ asset(entity.photo) }}">
    {{ form(edit_form) }}


        <ul class="record_actions">
    <li>
        <a href="{{ path('dish') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
