{% extends 'IhkBaseBundle::base.html.twig' %}

{% block title %}
	- IHomeKitchen
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{#<link rel="stylesheet" href="{{ asset('bundles/ibwjobeet/css/job.css') }}" type="text/css" media="all" />#}
{% endblock %}


{% block leftarea %}
    <h1>Rule creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('rule') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
